
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
